@use 'variables' as *;

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* ===== GLOBAL STYLES ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-body;
  font-size: 16px;
  line-height: 1.5;
  color: $primary-text;
  background-color: $white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  font-weight: $font-weight-bold;
  line-height: 1.2;
  color: $primary-text;
}

.container {
  width: 100%;
  max-width: $container-max;
  margin: 0 auto;
  padding: 0 16px;
}

.container-narrow {
  width: 100%;
  max-width: $container-narrow;
  margin: 0 auto;
  padding: 0 16px;
}

.section {
  padding: 64px;
}

.section-light {
  background-color: $background-light;
}

.text-center {
  text-align: center;
}
