@use 'variables' as *;

.header-section {
  position: relative;
}

.header-section__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 660px;
  background-color: $background-light;
  z-index: 0;
}

.header-section__content {
  position: relative;
  z-index: 1;
}
