@use 'variables' as *;

.showcase {
  padding-top: 100px;
  padding-right: 218px;
  padding-bottom: 100px;
  padding-left: 218px;
  background-color: $background-light;
}

.showcase__container {
  max-width: $container-content;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.showcase__image {
  flex-shrink: 0;

  img {
    width: 457px;
    height: 600px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    display: block;
  }
}

.showcase__content {
  flex: 1;
}

.showcase__title {
  font-family: $font-heading;
  font-size: 24px;
  font-weight: $font-weight-normal;
  color: $primary-text;
  margin: 0 0 20px 0;
  line-height: 1.3;
}

.showcase__text {
  font-family: $font-body;
  font-size: 16px;
  font-weight: $font-weight-normal;
  color: $secondary-text;
  line-height: 24px;
  margin: 0;
}

@media (max-width: $breakpoint-lg) {
  .showcase {
    padding: 100px $section-padding-tablet;
  }
  .showcase__container {
    flex-direction: column;
    gap: 40px;
  }
  .showcase__image {
    order: -1;

    img {
      width: 100%;
      max-width: 457px;
      height: auto;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .showcase {
    padding: 60px $section-padding-mobile;
  }
}
