@use 'variables' as *;

.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity $transition-normal, visibility $transition-normal;

  &.is-active {
    visibility: visible;
    opacity: 1;
  }
}

.video-modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
}

.video-modal__container {
  position: relative;
  width: 90%;
  max-width: 900px;
  z-index: 1;
}

.video-modal__close {
  position: absolute;
  top: -45px;
  right: 0;
  background: none;
  border: none;
  color: $white;
  font-size: 40px;
  line-height: 1;
  cursor: pointer;
  transition: opacity $transition-fast;
  padding: 0;

  &:hover {
    opacity: 0.7;
  }
}

.video-modal__wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 8px;
  background-color: #333333;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
